<head>
<link rel="stylesheet" type="text/css" href="boot.css">
</head>

<div style="margin-left:150px; padding-right:70px" class = "row">
  <div class="col-md-6">
    <h2 style="font-size:50px">
      Contacts
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a style="margin-top:30px" class="btn btn-default " href="#/new/contact">New</a>
  
  </div>
  <div class="col-md-1">
  </div>
</div>
<div style="margin-left:100px; padding-right:200px" class="container">
  <table class="table table-hover; popup" onclick="myFunction()">
   
    <tbody >
 <tr ng-repeat="contact in contacts | orderBy:'lastName'" style="cursor:pointer">
   
   
   <td>
     <a style="font-size:30px" ng-href="#/contact/{{contact._id}}">  
      <p ng-if="contact.company"> {{ contact.company }}</p>
     </a>
   </td>
         <td style="padding-right:100px; padding-left:100px" >
          <p style="font-size:30px" >{{ contact.firstName }} {{ contact.lastName }} </p>
           <div class="tooltip">
          <span class="tooltip tooltiptext">{{ contact.firstName }} {{ contact.lastName }} {{ contact.email }} {{ contact.address }}</span>
           </div>
   </td>
   
    <td>
     <a ng-href="#/contact/{{contact._id}}">  
       <button class="btnedit btn-defaultedit" ng-click="deleteContact(contact._id)">Edit</button>
      </a>
      
  
   </td>
      </tr>
   </tbody>
  </table>
</div>

<h2>Tooltip</h2>
<p>Move the mouse over the text below:</p>

<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>

<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('cars')"> Cars</button>
  <button class="btn" onclick="filterSelection('animals')"> Animals</button>
  <button class="btn" onclick="filterSelection('fruits')"> Fruits</button>
  <button class="btn" onclick="filterSelection('colors')"> Colors</button>
</div>

<!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
<div class="container">
  <div class="filterDiv cars">BMW</div>
  <div class="filterDiv colors fruits">Orange</div>
  <div class="filterDiv cars">Volvo</div>
  <div class="filterDiv colors">Red</div>
  <div class="filterDiv cars animals">Mustang</div>
  <div class="filterDiv colors">Blue</div>
  <div class="filterDiv animals">Cat</div>
  <div class="filterDiv animals">Dog</div>
  <div class="filterDiv fruits">Melon</div>
  <div class="filterDiv fruits animals">Kiwi</div>
  <div class="filterDiv fruits">Banana</div>
  <div class="filterDiv fruits">Lemon</div>
  <div class="filterDiv animals">Cow</div>
</div>
