<head>
<link rel="stylesheet" type="text/css" href="boot.css">
</head>

<div style="margin-left:150px; padding-right:70px" class = "row">
  <div class="col-md-6">
    <h2 style="font-size:50px">
      Contacts
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a style="margin-top:30px" class="btn btn-default " href="#/new/contact">New</a>
  
  </div>
  <div class="col-md-1">
  </div>
</div>
<div style="margin-left:100px; padding-right:200px" class="container" >
  <table class="table table-hover">
    <tbody >
 <tr ng-repeat="contact in contacts | orderBy:'lastName'" style="cursor:pointer">
         <td style="padding-right:100px; padding-left:100px">
  
          <a style="font-size:30px" ng-href="#/contact/{{contact._id}}">{{ contact.firstName }} {{ contact.lastName }} </a>
         
        
    <tr ng-repeat="contact in contacts | orderBy:'lastName'" style="cursor:pointer">
      <button class="btnspace btnedit btn-defaultedit" ng-click="deleteContact(contact._id)">Edit</button>
      
      </tr>
           
   </td>
    </tbody>
    
  </table>
</div>
